.chatPage {
  background-color: rgb(49, 48, 48);
  width: 100cw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.chatContainer {
  background-color: white;
  height: 60%;
  width: 50%;
}

.header {
  background-color: crimson;
  height: 15%;
}

.chatBox {
  border: 0.2vmax solid black;
  height: 70%;
}
.inputBox {
  /* padding: 1vmax; */
  border: 0.2vmax solid black;
  height: 15%;
  box-sizing: border-box;
}

#chatInput {
  width: 80%;
  border: none;
  outline: none;
  background-color: white;
  padding: 1vmax;
  box-sizing: border-box;
}

.sendBtn {
  background-color: crimson;
  color: white;
  border: none;
  height: 100%;
  width: 20%;
  transition: all 0.3s;
  cursor: pointer;
  /* padding: 1vmax; */
}

.sendBtn:hover {
  background-color: rgb(91, 8, 25);
}
